<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAd1mh9ZaDVBHr0NKXYCJ2jyJnGbG0GVt4</string>
	<key>GCM_SENDER_ID</key>
	<string>295282834671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.battleship.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>battleship-b6b9f</string>
	<key>STORAGE_BUCKET</key>
	<string>battleship-b6b9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295282834671:ios:73b7e6ee33c55b9a326f1a</string>
</dict>
</plist>